<p id="notice"><%= notice %></p>

<div class="col-md-4 col-md-offset-2">
<p>
<%= image_tag(@product.image_url, class: "img-responsive") %>
</p>

</div> 

<div class = "row">

<div class ="col-xs-4">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
</div>


<div class ="col-xs-4">
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
</div>


<div class ="col-xs-4">
<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>
</div>

<div class ="col-xs-4">
<p>
  <strong>Color:</strong>
  <%= @product.colour%>
</p>
</div>


<div class ="col-xs-4">
<p>
  <strong>Price:</strong>
  <%= @product.price%>
</p>
</div>

<div class ="col-xs-6">
<%= render "new_comment"%>

<%= render "comments"%>





<p>Average Rating: <div rated" data-score="<%= @product.average_rating %>> </div> </p>

</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

</div>