
<!--<p class="notice"><%= notice %></p>-->

<!--       <p class="alert"><%= alert %></p>-->

<!DOCTYPE html>
<html lang="en">
<head>

<title>Ruby Project 2.0</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--=====add BOOTSTRAP CDN after JAVASCRIPT because it depends on JQUERY which is loaded with the JAVASCRIPT tag above =====-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!--=====add the responsive TAG at the end of all other HEAD tags=====-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
        
        <ul>
            <li> <%= link_to 'Home', '/static_pages/landing_page', class: 'active' %> </li>
            <li> <%= link_to 'About', '/static_pages/about' %> </li>
            <li> <%= link_to 'Contact', '/static_pages/contact' %> </li>

  <li>

  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path) %>
  <% end %>
  </li>

        
</ul>

        <%= form_tag("/products", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
        
    </nav>
    
    
  <%= yield %>

   <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %><% if notice %>
    <p id="alert" class="notice notice-info"><%= alert %></p>
    
<% end %>
<footer>
  &copy; 2016 Fundalicious
</footer>
</body>
</html>
